.arrow-up {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $secondary-color;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;

    & i {
        font-size: 2.8rem;
        color: $accent-color;
    }

}