.logo {
    color: $accent-color;
    font-size: 5rem;
    line-height: 6.265rem;
}

@media screen and (max-width: 1024px) {
    .logo {
        font-size: 3.5rem;
        line-height: 4.386rem;
    }
}

@media screen and (max-width: 550px) {
    .logo {
        margin-bottom: 15px;
    }
}