@mixin decor-vertical-line {
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 16px;
    background-color: $decor-element;
    margin: 0 25px;
}

@mixin decor-vertical-line1024 {
    height: 13px;
}

@mixin decor-vertical-line385 {
    margin: 0 10px;
}


@mixin button($color) {
    color: $color;
    display: block;
    margin: 0 auto;
    width: 312px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color .8s;

    &:hover {
        background-color: #FFA60D;
        border: none;
    }
}

@mixin sticker($content, $bg-color) {
    color: $accent-color;
    font-size: 1.4rem;
    font-weight: 600;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -29px;
    left: -29px;
    content: $content;
    background-color: $bg-color;
}

@mixin sticker1250 {
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: -20px;
    left: -20px;
}

@mixin sticker1024 {
    font-size: 1.2rem;
    width: 46px;
    height: 46px;
    line-height: 46px;
    top: -23px;
    left: -23px;
}

@mixin sticker768 {
    font-size: 1.4rem;
    width: 56px;
    height: 56px;
    line-height: 56px;
    top: -28px;
    left: -28px;
}