.nav-menu {
    align-self: center;

    &__item {
        display: inline-block;
        color: $accent-color;
        font-size: 2.2rem;
        line-height: 2.757rem;
    }

    &__text {
        display: inline-block;
        transition: all .5s;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.nav-menu__item:not(:last-child)::after {
    @include decor-vertical-line;
}



@media screen and (max-width: 1024px) {
    .nav-menu {

        &__item {
            font-size: 1.8rem;
            line-height: 2.255rem;
        }

        &__item:not(:last-child)::after {
            @include decor-vertical-line1024;
        }

    }
}

@media screen and (max-width: 385px) {
    .nav-menu {
        font-size: 1.6rem;

        &__item:not(:last-child)::after {
            @include decor-vertical-line385;
        }
    }
}