$primary-color: black;
$accent-color: white;
$background-color-section: rgba(243, 247, 234, 1);
$secondary-color: rgba(255, 166, 13, 1);
$subtitle-color: rgba(71, 71, 71, 1);
$decor-element: rgba(216, 213, 213, 1);
$project-font: 'Source Serif Pro', Arial, sans-serif;
$base-fz: 30px;
$small-fz: 18px;
$heading-fz: 40px;
$subtitle-fz: 25px;